<nav class="navbar navbar-dark navbar-expand bg-dark navigation-clean">
    <div class="container"><a class="navbar-brand boton-hover p-2" href="/">Nautica</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="padding-right: 1px;margin-right: 15px;"><a class="btn btn-primary ms-auto" role="button" href="login">Iniciar Sesion</a></div><button class="btn btn-primary" type="button">Cambiar Idioma</button>
    </div>
</nav>

<style>
    .boton-hover:hover{
        background-color: #777;
        transition: 0.5s;
    }
</style>