<nav class="navbar navbar-dark navbar-expand bg-dark navigation-clean">
    <div class="container">
        <a class="navbar-brand boton-hover p-1" href="/">Nautica</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
    </div>
</nav>

<style>
    .boton-hover:hover{
        background-color: #777;
        transition: 0.5s;
    }
</style>