<footer class="bg-light footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 text-center text-lg-start my-auto h-100">
				<ul class="list-inline mb-2">
					<li class="list-inline-item"><a href="#">Acerca de</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#">Contactanos</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#">Terminos y condiciones</a></li>
					<li class="list-inline-item"><span>⋅</span></li>
					<li class="list-inline-item"><a href="#">Política de privacidad</a></li>
				</ul>
				<p class="text-muted small mb-4 mb-lg-0">© Nautica Costa Bonita 2023. Todos los derechos reservados.</p>
			</div>
			<div class="col-lg-6 text-center text-lg-end my-auto h-100">
				<ul class="list-inline mb-0">
					<li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
