<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body style="min-height: 100vh;">
    <main class="d-flex flex-nowrap" style="min-height: 100vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-info" style="width: 280px;">
            <a href="/pruebas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center">
                <span class="fs-4">ADMINISTRADOR</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    Inicio
                </a>
                </li>
                <li>
                <a href="#" class="nav-link text-white">
                    Usuarios
                </a>
                </li>
                <li>
                <a href="#" class="nav-link text-white">
                    Espacios de renta
                </a>
                </li>
                <li>
                <a href="#" class="nav-link text-white">
                    Estado de cuenta
                </a>
                </li>
                <li>
                <a href="#" class="nav-link text-white">
                    Peticiones
                </a>
                </li>
            </ul>
            <hr>
            <div>
                <p class="text-center">
                    NAUTICA COSTA BONITA
                </p>
                                
                <a href="/" class="btn btn-danger float-end text-decoration-none"> Cerrar sesión</a>

            </div>
        </div>

        <!-- Divisor de contenido -->
        <section class="container-fluid p-4" style="background-color: azure;">

            <div class="row">
                <h1 class="text-center">INICIO</h1>
                <hr>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
</body>
</html>