<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body style="min-height: 100vh;">
    <main class="d-flex flex-nowrap" style="min-height: 100vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-info" style="width: 280px;">
            <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center">
                <span class="fs-4">ADMINISTRADOR</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link text-white" aria-current="page">
                        Inicio
                    </a>
                    </li>
                    <li>
                    <a href="/admin_usuarios" class="nav-link text-white">
                        Usuarios
                    </a>
                    </li>
                  <!--  <li>
                        <a href="/admin_muelle" class="nav-link text-white">
                            Muelle
                        </a>
                        </li>
                        <li>
                        <a href="/admin_caseta" class="nav-link text-white">
                            Casetas
                        </a>
                        </li>
                        <li>
                        <a href="/admin_dique" class="nav-link text-white">
                            Dique Seco
                        </a>
                        </li>
                    <li>
                    <a href="/admin_estado" class="nav-link text-white">
                        Estado de cuenta
                    </a>
                    </li>
                -->   <li>
                    <a href="/admin_peticiones" class="nav-link active">
                        Peticiones
                    </a>
                    </li>
                    <li>
                        <a href="/admin_espacios" class="nav-link text-white">
                            Espacios
                        </a>
                        </li>
            </ul>
            <hr>
            <div>
                <p class="text-center">
                    NAUTICA COSTA BONITA
                </p>
                
                <a href="/"><button type="button" class="btn btn-danger float-end">Cerrar sesión</button></a>
            </div>
        </div>

        <!-- Divisor de contenido -->
        <section class="container-fluid p-4" style="background-color: azure;">

            <div class="row">
                <h1 class="text-center">EDITAR</h1>
                <hr>
            </div>
            </div>

            <% if(results) { %>
                <div>
                    <form action="/update" method="POST">
                        <input id="id" name="id" value="<%=results.IdPeticion%>" >
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="email" placeholder="Ingresa tu dirección de correo electronico" id="correoElec" name="correoElec" value="<%= results.correo%>" required>
                                        <label for="floatingInput">Correo electronico</label>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu nombre(s)" id="nombre" name="nombre" value="<%= results.nombre%>" required>
                                    <label for="floatingInput" >Nombre</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingrese su primer apellido" id="apellido" name="apellido" value="<%= results.apellido%>" required>
                                    <label for="floatingInput">Apellido</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Agregue una descripcion" id="descripcion" name="descripcion" value="<%= results.descripcion%>" required>
                                    <label for="floatingInput">Descripcion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control pb-xl-2 mt-xl-0 mb-xxl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-3" type="number" id="dias" name="dias" value="<%=results.diasReservados%>" required>
                                    <label for="floatingInput">Cantidad de dias</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-control pb-xl-2 mt-xl-0 mb-xxl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-3" name="opcPago" id="opcPago" required>
                                        <option value="cred">Crédito</option>
                                        <option value="deb">Débito</option>
                                    </select>
                                    <label for="floatingSelect">Tipo de pago</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select mt-xxl-2 mb-xxl-2 mb-xl-2 mt-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-3" id="opciones" name="opciones" required>
                                        <optgroup label="Espacios">
                                            <% results.forEach((resultado)=>{ 
                                                if(resultado.Estado=="Disponible"){
                                                    %>

                                                    <option value="<%=resultado.IDEspacio%>" selected=""><%=resultado.Nombre%></option>

                                                    <%
                                                }
                                                
                                                %>
                                                
                                            <% }) %>

                                        </optgroup>
                                    </select>
                                    <label for="floatingSelect">Servicio</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success text-white">Guardar cambios</button>
                        <a href="/admin_peticiones" class="btn btn-danger text-white">Cancelar</a>
                    </div>
                </form>
            </div>
            <%}%>

        </section>
    </main>
</body>
</html>