<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body style="min-height: 100vh;">
    <main class="d-flex flex-nowrap" style="min-height: 100vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-info" style="width: 280px;">
            <a href="/pruebas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center">
                <span class="fs-4">ADMINISTRADOR</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                <a href="/admin" class="nav-link active" aria-current="page">
                    Inicio
                </a>
                </li>
                <li>
                <a href="/admin_usuarios" class="nav-link text-white">
                    Usuarios
                </a>
                </li>
             <!--   <li>
                    <a href="/admin_muelle" class="nav-link text-white">
                        Muelle
                    </a>
                    </li>
                    <li>
                    <a href="/admin_caseta" class="nav-link text-white">
                        Casetas
                    </a>
                    </li>
                    <li>
                    <a href="/admin_dique" class="nav-link text-white">
                        Dique Seco
                    </a>
                    </li>
                <li>
                <a href="/admin_estado" class="nav-link text-white">
                    Estado de cuenta
                </a>
                </li>
            -->   <li>
                <a href="/admin_peticiones" class="nav-link text-white">
                    Reservaciones
                </a>
                </li>
                <li>
                    <a href="/admin_espacios" class="nav-link text-white">
                        Espacios
                    </a>
                </li>
            </ul>
            <hr>
            <div>
                <p class="text-center">
                    NAUTICA COSTA BONITA
                </p>
                
                <a href="/"><button type="button" class="btn btn-danger float-end">Cerrar sesión</button></a>
            </div>
        </div>

        <!-- Divisor de contenido -->
        <section class="container-fluid p-4" style="background-color: azure;">

            <div class="row">
                <h1 class="text-center">INICIO</h1>
                <hr>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            Este es un ejemplo de una carta realizada en Bootstrap
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            Este es un ejemplo de una carta realizada en Bootstrap
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            Este es un ejemplo de una carta realizada en Bootstrap
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            Este es un ejemplo de una carta realizada en Bootstrap
                        </div>
                        
                    </div>
                </div>
            </div>

        </section>
    </main>
</body>
</html>