<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body style="min-height: 100vh;">
    <main class="d-flex flex-nowrap" style="min-height: 100vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-info" style="width: 280px;">
            <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center">
                <span class="fs-4">ADMINISTRADOR</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link text-white" aria-current="page">
                        Inicio
                    </a>
                    </li>
                    <li>
                    <a href="/admin_usuarios" class="nav-link active">
                        Usuarios
                    </a>
                    </li>
                <!-- <li>
                        <a href="/admin_muelle" class="nav-link text-white">
                            Muelle
                        </a>
                        </li>
                        <li>
                        <a href="/admin_caseta" class="nav-link text-white">
                            Casetas
                        </a>
                        </li>
                        <li>
                        <a href="/admin_dique" class="nav-link text-white">
                            Dique Seco
                        </a>
                        </li>
                    <li>
                    <a href="/admin_estado" class="nav-link text-white">
                        Estado de cuenta
                    </a>
                    </li>
                --> <li>
                    <a href="/admin_peticiones" class="nav-link text-white">
                        Reservaciones
                    </a>
                    </li>
                    <li>
                        <a href="/admin_espacios" class="nav-link text-white">
                            Espacios
                        </a>
                    </li>
            </ul>
            <hr>
            <div>
                <p class="text-center">
                    NAUTICA COSTA BONITA
                </p>
                
                <a href="/"><button type="button" class="btn btn-danger float-end">Cerrar sesión</button></a>
            </div>
        </div>

        <!-- Divisor de contenido -->
        <section class="container-fluid p-4" style="background-color: azure;">

            <div class="row">
                <h1 class="text-center">USUARIOS</h1>
                <hr>
            </div>
            <div class="container-fluid">
                <!-- Botones de accion -->
                <button type="button" class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#agregarUsuario">Agregar</button>
                <!-- <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal" data-bs-target="#modificarPeticion">Modificar</button> -->
                <!-- <button type="button" class="btn btn-danger">Eliminar</button> -->
            </div>
            <div>

                <br>
                <input class="form-control" type="text" id="txtBusqueda" aria-describedby="Buscador" placeholder="Buscar">
                <br>
                <table class="table table-light table-bordered" id="tablaAdmin">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <%results.forEach((resultado)=>{%>
                        <tr>
                            <td><%=resultado.IDUsuario%></td>
                            <td><%=resultado.nombre%></td>
                            <td><%=resultado.apellido%></td>

                            <td><%=resultado.correo%></td>
                            <td><%=resultado.telefono%></td>
                            <td><%=resultado.estado%></td>
                            <td>
                                <a href="/editU/<%=resultado.IDUsuario%>" class="btn btn-warning text-white">Modificar</a>
                                <a href="/deleteU/<%=resultado.IDUsuario%>" class="btn btn-danger text-white">Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <!-- Aqui se guardan los modals a usar -->
            <!-- Modal para modificar  -->
            <div>
                <div class="modal fade" id="modificarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- Formulario -->
                            
                            <div class="modal-body">
                                
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="ID" id="correoElec" name="correoElec" required>
                                            <label for="floatingInput">ID a modificar: </label>
                                        </div>
                                        <a href="/buscar" class="btn btn-info text-white float-end">Buscar</a>
                                    </div>
                                </div>
                                <hr>

                                <form action="/edit" method="POST">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="email" placeholder="Ingresa tu dirección de correo electronico" id="correoElec" name="correoElec" required>
                                                <label for="floatingInput">Correo electronico</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu nombre(s)" id="nombre" name="nombre" required>
                                                <label for="floatingInput" >Nombre</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu apellido(s)" id="apellido" name="apellido" required>
                                                <label for="floatingInput" >Apellido</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingrese la contraseña" id="contraseña" name="contraseña" required>
                                                <label for="floatingInput">Contraseña</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Agregue el telefonno" id="telefono" name="telefono" required>
                                                <label for="floatingInput">telefono</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select mt-xxl-2 mb-xxl-2 mb-xl-2 mt-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-3" id="opciones" name="opciones" required>
                                                    <optgroup label="Estado">
                                                        <option value="1" selected="">Activo</option>
                                                        <option value="0">No activo</option>
                                                    </optgroup>
                                                </select>
                                                <label for="floatingSelect">Estado</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success text-white">Guardar cambios</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para agregar-->
            <div>
                <div class="modal fade" id="agregarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- Formulario -->
                            <form action="/saveU" method="POST">
                                <div class="modal-body">
                                    <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="email" placeholder="Ingresa tu dirección de correo electronico" id="correoElec" name="correoElec" required>
                                            <label for="floatingInput">Correo electronico</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu nombre(s)" id="nombre" name="nombre" required>
                                            <label for="floatingInput" >Nombre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu Apellido(s)" id="apellido" name="apellido" required>
                                            <label for="floatingInput" >Apellido</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingrese la contraseña" id="contraseña" name="contraseña" required>
                                            <label for="floatingInput">Contraseña</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Agregue el telefonno" id="telefono" name="telefono" required>
                                            <label for="floatingInput">telefono</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select class="form-select mt-xxl-2 mb-xxl-2 mb-xl-2 mt-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-3" id="opciones" name="opciones" required>
                                                <optgroup label="Estado">
                                                    <option value="true" selected="">Activo</option>
                                                    <option value="false">No activo</option>
                                                </optgroup>
                                            </select>
                                            <label for="floatingSelect">Estado</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success text-white">Guardar cambios</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal para Eliminar -->


        </section>
    </main>
    <script>
        $(document).ready(function(){
          $("#txtBusqueda").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaAdmin tbody tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
</body>
</html>