<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body style="min-height: 100vh;">
    <main class="d-flex flex-nowrap" style="min-height: 100vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-info" style="width: 280px;">
            <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center">
                <span class="fs-4">ADMINISTRADOR</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link text-white" aria-current="page">
                        Inicio
                    </a>
                    </li>
                    <li>
                    <a href="/admin_usuarios" class="nav-link text-white">
                        Usuarios
                    </a>
                    </li>
                  <!--  <li>
                        <a href="/admin_muelle" class="nav-link text-white">
                            Muelle
                        </a>
                        </li>
                        <li>
                        <a href="/admin_caseta" class="nav-link text-white">
                            Casetas
                        </a>
                        </li>
                        <li>
                        <a href="/admin_dique" class="nav-link text-white">
                            Dique Seco
                        </a>
                        </li>
                    <li>
                    <a href="/admin_estado" class="nav-link text-white">
                        Estado de cuenta
                    </a>
                    </li>
                -->   <li>
                    <a href="/admin_peticiones" class="nav-link text-white">
                        Peticiones
                    </a>
                    </li>
                    <li>
                        <a href="/admin_espacios" class="nav-link active">
                            Espacios
                        </a>
                        </li>
            </ul>
            <hr>
            <div>
                <p class="text-center">
                    NAUTICA COSTA BONITA
                </p>
                
                <a href="/"><button type="button" class="btn btn-danger float-end">Cerrar sesión</button></a>
            </div>
        </div>

        <!-- Divisor de contenido -->
        <section class="container-fluid p-4" style="background-color: azure;">

            <div class="row">
                <h1 class="text-center">EDITAR ESPACIOS</h1>
                <hr>
            </div>
            </div>

            <% if(resultado) { %>
                <div>
                    <form action="/updateEspacios" method="POST" enctype="multipart/form-data">
                        <input id="id" name="id" value="<%= resultado.IDEspacio%>" >
                        <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu nombre(s)" id="nombre" name="nombre" value="<%= resultado.nombre%>" required>
                                    <label for="floatingInput" >Nombre</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Agregue una descripcion" id="descripcion" name="descripcion" value="<%= resultado.descripcion%>" required>
                                    <label for="floatingInput">Descripcion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mt-xl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="text" placeholder="Ingresa tu nombre(s)" id="costo" name="costo" value="<%= resultado.CostoDiario%>" required>
                                    <label for="floatingInput" >Costo</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input class="form-control mt-xxl-2 mb-xxl-2 mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-2" type="file" placeholder="IMAGEN" id="imagen" name="imagen" required>
                                    <label for="floatingInput">IMAGEN</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select mt-xxl-2 mb-xxl-2 mb-xl-2 mt-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-3" id="estado" name="estado" required>
                                        <optgroup label="Estado">
                                                    <option value="Disponible" selected="">Disponible</option>
                                                    <option value="Ocupado">Ocupado</option>
                                        </optgroup>
                                    </select>
                                    <label for="floatingSelect">Estado</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success text-white">Guardar cambios</button>
                        <a href="/admin_espacios" class="btn btn-danger text-white">Cancelar</a>
                    </div>
                </form>
            </div>
            <%}%>

        </section>
    </main>
</body>
</html>