<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
</head>

<body class="bg-gradient-primary">
    <div>
        <%-include('partials/nav2.html')%>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;dogs/image1.jpeg&quot;);"><img src="assets/img/icons8-parking.svg" width="546" height="370"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">¿Olvido su contraseña?</h4>
                                        <p class="mb-4">Lo entendemos, pasan cosas. Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="txtEmail" aria-describedby="Introduzca una direccion de correo con un formato valido" placeholder="Introduzca su correo electronico" name="email"></div><button class="btn btn-primary d-block btn-user w-100" id="btnRestaurar" type="submit">Reestablecer contraseña</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a id="lblCrearCuenta" class="small" href="register">¡Cree una cuenta nueva!</a>
                                    </div>
                                    <div class="text-center"><a id="lblLogin" class="small" href="login">¿Ya cuenta con un usuario? ¡Inicie sesion!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <%-include('partials/footer.html')%>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>