<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nautica Costa Bonita</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <style>
        .hovereado:hover, a.fondoss:hover{
            background-color: #ccc;
            transition: 0.5s;
        }
    </style>
</head>

<body>
    <div>
        <%
        if(login){
        %>
            <%-include('partials/nav.html')%>
            <%
        }else{
            %>
            <%-include('partials/nav.html')%>
            <%
        }
        %>

    </div>
    <header class="text-center text-white masthead" style="background: url('img/nautica-top-1024x327.jpg')no-repeat center center;background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5">Nautica Costa Bonita 2</h1>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>ELIGE EL ESPACIO A RENTAR</h1>
                    <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 hovereado">
                    <a href="/muelle" class="text-decoration-none text-black fondoss">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex features-icons-icon">
                                <img src="assets/img/icons8-yatch-96.png" style="margin-left: 106px;">
                            </div>
                            <h3>Muelle</h3>
                            <p class="lead mb-0">Un hogar para tu barco</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 hovereado">
                    <a href="/muelle" class="text-decoration-none text-black fondoss">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex features-icons-icon">
                                <img src="assets/img/icons8-garage.svg" style="margin-left: 104px;">
                            </div>
                            <h3>Casetas</h3>
                            <p class="lead mb-0">Almacena lo que quieras</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 hovereado">
                    <a href="/muelle" class="text-decoration-none text-black fondoss">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex features-icons-icon">
                                <img src="assets/img/icons8-parking.svg" style="margin-left: 105px;">
                            </div>
                            <h3>Dique Seco</h3>
                            <p class="lead mb-0">Estaciona tu barco!</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="assets/img/muelles.jpg" class="img-fluid p-3"/>
                </div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Muelles</h2>
                    <p class="lead mb-0">Contamos con muelles disponibles para su renta. Manten segura tu embarcación con nosotros, acceso directo al mar, entradas y salidas a placer del cliente.</p>
                    <a href="/muelle" class="d-flex justify-content-end">
                        <div class="col-12 col-md-3 mt-2">
                            <button class="btn btn-primary btn-lg" type="submit">Aparta tu muelle</button>
                        </div>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Casetas</h2>
                    <p class="lead mb-0">Contamos con muelles disponibles para su renta. Manten segura tu embarcación con nosotros, acceso directo al mar, entradas y salidas a placer del cliente.</p>
                    <a href="/muelle">
                        <div class="col-12 col-md-3 mt-2">
                            <button class="btn btn-primary btn-lg" type="submit">Aparta tu caseta</button>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="assets/img/boat-garage.jpg" class="img-fluid p-3"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="assets/img/dry-dock.jpg" class="img-fluid p-3"/>
                </div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Dique seco</h2>
                    <p class="lead mb-0">Contamos con muelles disponibles para su renta. Manten segura tu embarcación con nosotros, acceso directo al mar, entradas y salidas a placer del cliente.</p>
                    <a href="/muelle" class="d-flex justify-content-end">
                        <div class="col-12 col-md-3 mt-2">
                            <button class="btn btn-primary btn-lg" type="submit">Aparta tu dique seco</button>
                        </div>
                    </a>
                </div>
            </div>
        </div> 
    <!-- EDICIONES -->
    <!-- <div class="row g-0" style="margin-top: 71px;">
        
        <div class="col-lg-6 my-auto order-lg-1 showcase-text">
            <h2>Casetas de X dimensiones</h2>
            <p class="lead mb-0">Renta tu caseta bla bla bla bla bla guarda tu equipo de pesca bla bla bla bla probando probando</p>
        </div>
        <div class="col"><img src="assets/img/boat-garage.jpg" style="margin-left: 111px;" /></div>
    </div>
    <hr style="margin-bottom: -34px;" />
    <div class="row g-0" style="margin-top: 45px;">
        <div class="col-lg-6 my-auto order-lg-1 showcase-text">
            <h2>Casetas de X dimensiones</h2>
            <p class="lead mb-0">Renta tu caseta bla bla bla bla bla guarda tu equipo de pesca bla bla bla bla</p>
        </div>
        <div class="col"><img src="assets/img/boat-garage.jpg" style="margin-left: 111px;" /></div>
    </div>
</div>-->
</section> 
    <section class="text-center bg-light testimonials">
        <div class="container">
            <h2 class="mb-5">PERSONAL DE LA EMPRESA</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="img/erick.jpg" width="400" height="400">
                        <h5>Erick Lopez</h5>
                        <p class="font-weight-light mb-0">Programador</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="img/pedro.jpg" width="400" height="400">
                        <h5>Pedro Antonio</h5>
                        <p class="font-weight-light mb-0">Programador</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="img/juancarlos.png" width="400" height="400">
                        <h5>Juan Moreno</h5>
                        <p class="font-weight-light mb-0">Programador</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="img/ruy.png" width="400" height="400">
                        <h5>Ruy Luna</h5>
                        <p class="font-weight-light mb-0">Programador</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background: url(&quot;assets/img/bg-masthead.jpg&quot;) no-repeat center center;background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h2 class="mb-4">¿Ya tienes una cuenta? Si no, ¿qué esperas?</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <a href="/register" class="btn btn-primary" role="button">¡Registrate!</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%-include('partials/footer.html')%>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>
