<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
</head>

<body class="bg-gradient-primary">

    <div>
        <%-include('partials/nav2.html')%>
    </div>
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;dogs/image3.jpeg&quot;);"><img class="img-fluid d-xxl-flex align-items-center justify-content-xxl-center align-items-xxl-center" src="assets/img/bg-masthead.jpg" style="padding-top: 0px;margin-top: 0px;padding-left: 0px;margin-left: 0px;margin-bottom: 0px;" height="337" width="526"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">¡Bienvenido de vuelta!</h4>
                                    </div>
                                    <form class="user" action="auth" method="post">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" data-bs-toggle="tooltip" data-bss-tooltip="" id="txtCorreo" required="true" aria-describedby="Introduzca un correo con formato valido" placeholder="Introduzca su correo electronico" name="email" required="" autocomplete="on" autofocus="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Introduzca una direccion de correo valida"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="txtPassword" placeholder="Contraseña" name="password" required="" autofocus=""></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="ckRecordar" name="ckRecordar"><label class="form-check-label custom-control-label" for="formCheck-1">Recordarme</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" id="btnIniciarSesion" type="submit">Iniciar sesión&nbsp;</button>
                                        <hr>
                                        <hr>
                                    </form>
                                    <div class="text-center"><a id="lblForgot-password" class="small" href="forgot-password">¿Olvido su contraseña?</a></div>
                                    <div class="text-center"><a id="lblCrearCuenta" class="small" href="register">¡Cree una cuenta nueva!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="node_modules\sweetalert2\dist\sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <% if (typeof alert !== 'undefined') { %>
        <script>
            Swal.fire({
                title: "<%= alertTitle %>",
                text: "<%= alertMessage %>",
                icon: "<%= alertIcon %>",
                showConfirmButton: "<%= showConfirmButton %>",
                timer: "<%= time %>"
            }).then(() => {
                window.location = "/<%= ruta %>";
            })
        </script>
    <% } %>

    <div>
        <%-include('partials/footer.html')%>
    </div>
</body>

</html>