<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Testeando</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<!-- <script src="../public/js/bootstrap.bundle.min.js"></script> -->
	</head>

	<body>
		<div class="container">
			<table class="table table-dark">
				<h2 class="text-center">ALUMNOS</h2>
				<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
				</tr>
				</thead>
				
				<tbody>
					<% resultado.forEach((user)=>{ %>

				<tr>
					<th scope="row"><%=user.id%></th>
					<td><%=user.nombre%></td>
					<td><%=user.apellido%></td>
				</tr>
				</tbody>
				<%})%>
			</table>
		</div>
	</body>
</html>
