<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
</head>

<body class="bg-gradient-primary">
    <div>
        <%-include('partials/nav2.html')%>
    </div>
    <div class="container">
        
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;dogs/image2.jpeg&quot;);"><img src="assets/img/dry-dock.jpg" width="470" height="446"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">¡Cree su cuenta!</h4>
                            </div>
                            <form id="frmRegister" class="user" action="/register" method="post">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="txtNombre" placeholder="Nombre" name="nombre" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="txtApellido" placeholder="Apellido" name="apellido" required=""></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="txtUsuario" placeholder="Usuario" name="usuario" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="txtDomicilio" placeholder="Domicilio" name="domicilio" required=""></div>
                                </div>
                                <div class="mb-3"><input class="form-control form-control-user" type="text" id="telefono" aria-describedby="Introduzca su telefono" placeholder="Telefono" name="telefono"  required=""></div>

                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="txtCorreo" aria-describedby="Introduzca un correo electronico con un formato valido" placeholder="Correo electronico" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required=""></div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="txtPasswors" placeholder="Introduzca una contraseña" name="password" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="txtPassword_repeat" placeholder="Confirme su contraseña" name="password_repeat" required=""></div>
                                </div><button class="btn btn-primary d-block btn-user w-100" id="btnRegistrar" type="submit">Registrar su usuario</button>
                                <hr>
                                <hr>
                            </form>
                            <div class="text-center"><a id="lblForgot-password" class="small" href="forgot-password">¿Olvido su contraseña?</a></div>
                            <div class="text-center"><a id="lblLogin" class="small" href="login">¿Ya cuenta con un usuario? ¡Inicie sesion!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="node_modules\sweetalert2\dist\sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !== 'undefined') { %>
        <script>
            Swal.fire({
                title: "<%= alertTitle %>",
                text: "<%= alertMessage %>",
                icon: "<%= alertIcon %>",
                showConfirmButton: "<%= showConfirmButton %>",
                timer: "<%= time %>"
            }).then(() => {
                window.location = "/<%= ruta %>";
            })
        </script>
    <% } %>

    <div>
        <%-include('partials/footer.html')%>
    </div>
</body>

</html>